/* ESTILIZACAO HEADER*/
/*--------------------------------*/
.container {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 17vh;
  font-size: 62, 5%;
}

h1 {
  font-family: 'Raleway';
  font-size: 2rem;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  line-height: 50px;

  color: #000000;
}

.navegacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
}

ul {
  width: 70vw;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.referencia {
  font-size: 1.3rem;
  margin: 0% 3%;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #201F1F;
}

a:hover {
  color: #6D6D6D;
}

.main-image {
  width: 50vh;
  object-fit: cover;
  height: 70vh;
  width: 30vw;
}

.main-logo {
  margin: 3% 0% 0% 5%;
  width: 15vh;
}

main {
  display: flex;
  padding: 0% 5%;
  margin: 2% 0% 0% 0%;
}

.text-section {
  padding: 0% 1%;
  margin-left: 5%;
  width: 50vw;
}

p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 135.2%;
}